@font-face {
  font-family: "CascadiaCodeNF";
  src: url("assets/CascadiaCodeNF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --article-left: 19ch;
  --em-err: 1.15;
  /*
  --article_top
  */
  --pink:  #FF0055;
  --cyan:  #00FFD4;
  --green: #00FF7F;
  --nav-width: 10ch;
  --nav-domain: calc(25em * 1.15);
}
html, body {
  overflow: hidden;
  margin: 0;
}

* {
  font-family: "CascadiaCodeNF", monospace;
  font-size: 32px;
  color: var(--pink);
  line-height: 1.15;
}

.image {
  position: absolute;
  top: .5em;
  left: .5em;
}

.invert {
  background: var(--pink);
  color: black;
}

.gray {
  color: rgb(100, 100, 100);
}

.white {
  color: rgb(200, 200, 200);
}

.cyan {
  color: var(--cyan);
}

.green {
  color: var(--green);
}

.inline {
  display: inline-block;
}

:focus {
  outline: solid white;
  background: var(--pink);
  color: black;
  border: none;
  cursor: pointer;
}

:focus:not(:focus-visible) {
  outline: none;
}

#bg {
  background-color: black;
}

#bg-img {
  image-rendering: pixelated;
}

#wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width:  1920px;
  height: 1080px;
  transform-origin: center;
}
#content {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1ch;
}

article {
  position: absolute;
  top: 3em;
  left: var(--article-left);
  white-space: pre;
}

#page-control {
  position: relative;
  top: -1.15em;
  text-align: center;
  left: 48ch;
}

#help-prompt {
  position: relative;
  top: calc(25 * 1.15em);
  left: 94ch;
}


#nav {
  position: absolute;
  top: 3em;
  height: var(--nav-domain);
}

#nav ol {
  padding-left: 1ch;
  margin: 0;
}

#nav li {
  list-style: none;
  padding-bottom: 0;
}
#nav li:hover {
  background: var(--pink);
  color: black;
  border: none;
  cursor: pointer;
}
#nav li.selected {
  background: var(--pink);
  color: black;
  border: none;
  cursor: pointer;
}
#nav li.full-margin {
  list-style: none;
  padding-bottom: 1.15em;
}

#nav-bottom {
  position: absolute;
  top: var(--nav-domain);
}

#nav-bottom-buttons {
  position: absolute;
  top: 0;
  left: 6ch;
  margin: 0;
  padding: 0;
}

#nav-bottom-buttons button {
  width: 3ch;
  height: 1em;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
#nav-bottom-buttons button:hover{
  background: var(--pink);
  color: black;
  border: none;
  cursor: pointer;
}
#nav-bottom-buttons button:focus {
  background: var(--pink);
}

#nav-down {
  position: relative;
  left: -1ch;
}

#b-up {

}

.digit {
  color: rgba(127, 127, 127, 1);
}

.blur {
  color: rgba(127, 127, 127, .3);
  mix-blend-mode: add;
  text-shadow: 
    0px -10px rgba(127,127,127, .1),
    0px -8px rgba(127,127,127, .2),
    0px -6px rgba(127,127,127, .3),
    0px -4px rgba(127,127,127, .3),
    0px -2px rgba(127,127,127, .3),
    0px 2px rgba(127,127,127, .3);
    0px 4px rgba(127,127,127, .3),
    0px 6px rgba(127,127,127, .3),
    0px 8px rgba(127,127,127, .2),
    0px 10px rgba(127,127,127, .1),
}

/*
.blur::after {
  content: attr(symbol);
  position: relative;
  left: -1ch;
  top: -.2em;
}
*/
